<h1>Angular 8 Dashboard</h1>
<p>
  ng-dashboard is a modular dashboard based on Angular. You can create your own
  dashboard, based on tools provided on this library
</p>

<h2>Setup a new project</h2>

<pre><code highlight="npm i @ng-dashboard/core --save"></code></pre>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<h2>Set NavigationLeftContent</h2>
You can add a component on navigation. Use it for search bar.
<button class="btn btn-primary" (click)="SetNavigationLeftContent()">
  Set component
</button>

<h2>Progress (working)</h2>

Set this.working = true and you will get progress.

<button class="btn btn-primary" (click)="working = true">
  Start working
</button>

<button class="btn btn-primary" (click)="AdvanceWorker('LOW')">
  Advanced Worker (SLOW)
</button>

<button class="btn btn-primary" (click)="AdvanceWorker('HIGH')">
  Advanced Worker (Fast)
</button>

<button class="btn btn-primary" (click)="working = false; ClearUploadWorker()">
  Stop working
</button>

<ng-page-container
  maintitle="Header"
  subtitle="Explain more on subtitle"
  [actions]="pageContainerActions"
>
  asdasd
</ng-page-container>

<button class="btn btn-primary" (click)="showDialog()">
  Open modal
</button>

<button class="btn btn-primary" (click)="showDialogYes()">
  Modal Yes/No
</button>

<p>@ng-dashboard/core comes with the authentication as well.</p>

<h2>Teams Sections</h2>

In many applications, users can have teams. It's useful when you want to access
the same data within a group of people, or having multiple teams. This feature
is <i>beta</i>. At the moment you can access teams data using
<strong>ConfigurationService</strong>

<br /><br />

Please check <strong>guide.component.ts</strong> for these examples, but you can
try now: <br /><br />
<button class="btn btn-primary" (click)="clearTeams()">Clear Teams</button>
&nbsp;&nbsp;
<button class="btn btn-primary" (click)="addTeams()">
  Add Teams, and select "Ali's team"
</button>

<h2>WorkingStates</h2>
<p>You can make a loader to be shown if you want</p>

<button class="btn btn-primary" (click)="showLoader()">Show</button>
&nbsp;&nbsp;
<button class="btn btn-primary" (click)="hideLoader()">Hide loader</button>

<h2>Toast messages</h2>
<p>You can show toast messags</p>

<button class="btn btn-primary" (click)="showMessage()">Show</button>

<h2>Change language</h2>
<p>
  You can change language by calling 'SetLanguage' function. We have some
  predefined english and polish translations, but you need to provide for other
  languages with for dashboard (dashboard + your app).
  <br />
  `en.ts` and `pl.ts` is a good reference for available translations
</p>

<button class="btn btn-primary" (click)="changeLang('pl')">Go Polish</button>
<button class="btn btn-primary" (click)="changeLang('en')">Go English</button>

<h2>Set notifications</h2>

<button class="btn btn-primary" (click)="AddNotifications()">
  Send notification
</button>
<button class="btn btn-primary" (click)="SingleNotification()">
  Single notification
</button>
