/* You can add global styles to this file, and also import other style files */

.chessboard-view {
  background-image: url(assets/images/chessboard.png);
  background-repeat: repeat;
  background-color: white;
  padding: 30px 10px;
  margin: 15px auto;
}
